<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.prometheus.thoth.robot.dao.CommonMsgMapper">

	<resultMap id="BaseResultMap" type="com.prometheus.thoth.robot.entity.CommonMsg">
		<id property="id" column="id" jdbcType="BIGINT"/>
		<result property="robotId" column="robotId" jdbcType="INTEGER"/>
		<result property="message" column="message" jdbcType="VARCHAR"/>
		<result property="type" column="type" jdbcType="INTEGER"/>
		<result property="gmtCreate" column="gmtCreate" jdbcType="TIMESTAMP"/>
		<result property="gmtModified" column="gmtModified" jdbcType="TIMESTAMP"/>
	</resultMap>


	<!-- 用于select查询公用抽取的列 -->
	<sql id="Base_Column_List">
		id,robotId,message,type,gmtCreate,gmtModified
	</sql>

	<select id="getById" parameterType="Long" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from
		tbl_common_msg
		where
		id = #{id}
	</select>


	<delete id="deleteById" parameterType="Long">
		delete from tbl_common_msg
		where
		id = #{id}
	</delete>

	<select id="listByRobotId" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from tbl_common_msg
		WHERE
		robotId = #{robotId}
		<if test="msgType != null">
			and type = #{msgType}
		</if>
		order by gmtModified desc
	</select>

	<delete id="deleteByRobotId" parameterType="Long">
		delete from tbl_common_msg
		where
		robotId = #{robotId}
	</delete>

	<select id="listAll" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from tbl_common_msg
		where 1=1
		<if test="commonMsg != null and commonMsg.id != null">
			and id = #{ commonMsg.id, jdbcType=BIGINT }
		</if>
		<if test="commonMsg != null and commonMsg.robotId != null">
			and robotId = #{ commonMsg.robotId, jdbcType=INTEGER }
		</if>
		<if test="commonMsg != null and commonMsg.message != null">
			and message = #{ commonMsg.message, jdbcType=VARCHAR }
		</if>
		<if test="commonMsg != null and commonMsg.type != null">
			and type = #{ commonMsg.type, jdbcType=INTEGER }
		</if>
		<if test="commonMsg != null and commonMsg.gmtCreate != null">
			and gmtCreate = #{ commonMsg.gmtCreate, jdbcType=TIMESTAMP }
		</if>
		<if test="commonMsg != null and commonMsg.gmtModified != null">
			and gmtModified = #{ commonMsg.gmtModified, jdbcType=TIMESTAMP }
		</if>
		order by gmtModified desc
	</select>


	<select id="listCommonMsgsByRobotId" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from tbl_common_msg
		WHERE robotId = #{robotId}
		order by gmtModified desc
	</select>

	<update id="update" parameterType="com.prometheus.thoth.robot.entity.CommonMsg">
		update tbl_common_msg
		<set>
			<if test="robotId != null">
				robotId = #{robotId, jdbcType=INTEGER },
			</if>
			<if test="message != null">
				message = #{message, jdbcType=VARCHAR },
			</if>
			<if test="type != null">
				type = #{type, jdbcType=INTEGER },
			</if>
			<if test="gmtCreate != null">
				gmtCreate = #{gmtCreate, jdbcType=TIMESTAMP },
			</if>
			<if test="gmtModified != null">
				gmtModified = #{gmtModified, jdbcType=TIMESTAMP },
			</if>
		</set>
		where
		id = #{id}
	</update>


	<insert id="insert"  useGeneratedKeys="true" keyProperty="id" parameterType="com.prometheus.thoth.robot.entity.CommonMsg">
		insert into tbl_common_msg(
				id,
				robotId,
				message,
				type,
				gmtCreate,
				gmtModified
			)values(
				#{id, jdbcType=BIGINT},
				#{robotId, jdbcType=INTEGER},
				#{message, jdbcType=VARCHAR},
				#{type, jdbcType=INTEGER},
				#{gmtCreate, jdbcType=TIMESTAMP},
				#{gmtModified, jdbcType=TIMESTAMP}
		)
	</insert>

	<insert id="insertSelective" useGeneratedKeys="true" keyProperty="id"
			parameterType="com.prometheus.thoth.robot.entity.CommonMsg">
		insert into tbl_common_msg
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="robotId != null">
				robotId,
			</if>
			<if test="message != null">
				message,
			</if>
			<if test="type != null">
				type,
			</if>
			<if test="gmtCreate != null">
				gmtCreate,
			</if>
			<if test="gmtModified != null">
				gmtModified,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id, jdbcType=BIGINT},
			</if>
			<if test="robotId != null">
				#{robotId, jdbcType=INTEGER},
			</if>
			<if test="message != null">
				#{message, jdbcType=VARCHAR},
			</if>
			<if test="type != null">
				#{type, jdbcType=INTEGER},
			</if>
			<if test="gmtCreate != null">
				#{gmtCreate, jdbcType=TIMESTAMP},
			</if>
			<if test="gmtModified != null">
				#{gmtModified, jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>

	<insert id="batchInsert" parameterType="java.util.List">
		insert into tbl_common_msg(
		id,
		robotId,
		message,
		type,
		gmtCreate,
		gmtModified
		) values
		<foreach collection="list" item="item" index="index"
				 separator=",">
			(#{item.id},#{item.robotId},#{item.message},#{item.type},#{item.gmtCreate},#{item.gmtModified})
		</foreach>
	</insert>

</mapper>