<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO" monitorInterval="30">

    <Properties>
        <Property name="log-path">.</Property>
        <Property name="log-name">kafka-consum</Property>
    </Properties>

    <Appenders>
        <Console name="Console">
            <PatternLayout
                    pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t#${sys:PID}] %-5level %logger{36}.%M:%L - %msg%n"/>
        </Console>

        <!--<RollingRandomAccessFile name="File" fileName="${log-path}/${log-name}.log"
                                 filePattern="${log-path}/${log-name}_%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t#${sys:PID}] %-5level %logger{36}.%M:%L - %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="8 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="1000"/>
        </RollingRandomAccessFile>-->
    </Appenders>

    <Loggers>

        <Logger name="com.prometheus.thoth" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
            <!--<AppenderRef ref="File"/>-->
        </Logger>

        <Root level="error">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>

</Configuration>