<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.prometheus.thoth.robot.dao.IndustryMapper">

	<resultMap id="BaseResultMap" type="com.prometheus.thoth.robot.entity.Industry">
			<id property="id" column="id" jdbcType="INTEGER"/>
			<result property="name" column="name" jdbcType="VARCHAR"/>
	</resultMap>


	<!-- 用于select查询公用抽取的列 -->
	<sql id="Base_Column_List">
		id,name
	</sql>
	
	<select id="getById" parameterType="int" resultMap="BaseResultMap">
		select
			<include refid="Base_Column_List" />
		from
			tbl_industry
		where
			id = #{id}
	</select>


	<delete id="deleteById" parameterType="int">
		delete from tbl_industry
		where
		id = #{id}
	</delete>


	<select id="countBy" resultType="int">
		select count(*)
		from tbl_industry
		where 1=1
		  <if test="_bean != null and _bean.id != null">
			and id = #{ _bean.id, jdbcType=INTEGER }
		  </if>
		  <if test="_bean != null and _bean.name != null">
			and name = #{ _bean.name, jdbcType=VARCHAR }
		  </if>
	</select>
	
	<select id="listAll" resultMap="BaseResultMap">
		select
			<include refid="Base_Column_List" />
		from tbl_industry
	</select>
	
	<update id="update" parameterType="com.prometheus.thoth.robot.entity.Industry">
		update tbl_industry
		<set>
			<if test="name != null">
			  name = #{name, jdbcType=VARCHAR },
			</if>
		</set>
		where
			id = #{id}
	</update>
	

	
	<insert id="insertSelective" useGeneratedKeys="true" keyProperty="id"
		parameterType="com.prometheus.thoth.robot.entity.Industry">
		insert into tbl_industry
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="name != null">
				name,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id, jdbcType=INTEGER},
			</if>
			<if test="name != null">
				#{name, jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	
</mapper>