<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.prometheus.thoth.robot.dao.RobotMapper">

	<resultMap id="BaseResultMap" type="com.prometheus.thoth.robot.entity.Robot">
		<id property="id" column="id" jdbcType="BIGINT"/>
		<result property="tenantId" column="tenantId" jdbcType="BIGINT"/>
		<result property="name" column="name" jdbcType="VARCHAR"/>
		<result property="sex" column="sex" jdbcType="INTEGER"/>
		<result property="headPortrait" column="headPortrait" jdbcType="VARCHAR"/>
		<result property="industryId" column="industryId" jdbcType="INTEGER"/>
		<result property="accessWay" column="accessWay" jdbcType="INTEGER"/>
		<result property="avaliable" column="avaliable" jdbcType="INTEGER"/>
		<result property="gmtCreate" column="gmtCreate" jdbcType="TIMESTAMP"/>
		<result property="gmtModified" column="gmtModified" jdbcType="TIMESTAMP"/>
	</resultMap>


	<!-- 用于select查询公用抽取的列 -->
	<sql id="Base_Column_List">
		id,tenantId,name,sex,headPortrait,industryId,accessWay,avaliable,gmtCreate,gmtModified
	</sql>

	<select id="getById" parameterType="Long" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from
		tbl_robot
		where
		id = #{id}
	</select>


	<delete id="deleteById" parameterType="Long">
		delete from tbl_robot
		where
		id = #{id}
	</delete>

	<select id="listAll" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from tbl_robot
	</select>

	<select id="listRobots" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from tbl_robot
		where 1=1
		<if test="robot != null and robot.id != null">
			and id = #{ robot.id, jdbcType=BIGINT }
		</if>
		<if test="robot != null and robot.tenantId != null">
			and tenantId = #{ robot.tenantId, jdbcType=BIGINT }
		</if>
		<if test="robot != null and robot.name != null">
			and name = #{ robot.name, jdbcType=VARCHAR }
		</if>
		<if test="robot != null and robot.sex != null">
			and sex = #{ robot.sex, jdbcType=INTEGER }
		</if>
		<if test="robot != null and robot.headPortrait != null">
			and headPortrait = #{ robot.headPortrait, jdbcType=VARCHAR }
		</if>
		<if test="robot != null and robot.industryId != null">
			and industryId = #{ robot.industryId, jdbcType=INTEGER }
		</if>
		<if test="robot != null and robot.accessWay != null">
			and accessWay = #{ robot.accessWay, jdbcType=INTEGER }
		</if>
		<if test="robot != null and robot.avaliable != null">
			and avaliable = #{ robot.avaliable, jdbcType=INTEGER }
		</if>
		<if test="robot != null and robot.gmtCreate != null">
			and gmtCreate = #{ robot.gmtCreate, jdbcType=TIMESTAMP }
		</if>
		<if test="robot != null and robot.gmtModified != null">
			and gmtModified = #{ robot.gmtModified, jdbcType=TIMESTAMP }
		</if>
	</select>

	<select id="countBy" resultType="int">
		select count(*)
		from tbl_robot
		where 1=1
		<if test="robot != null and robot.id != null">
			and id = #{ robot.id, jdbcType=BIGINT }
		</if>
		<if test="robot != null and robot.tenantId != null">
			and tenantId = #{ robot.tenantId, jdbcType=BIGINT }
		</if>
		<if test="robot != null and robot.name != null">
			and name = #{ robot.name, jdbcType=VARCHAR }
		</if>
		<if test="robot != null and robot.sex != null">
			and sex = #{ robot.sex, jdbcType=INTEGER }
		</if>
		<if test="robot != null and robot.headPortrait != null">
			and headPortrait = #{ robot.headPortrait, jdbcType=VARCHAR }
		</if>
		<if test="robot != null and robot.industryId != null">
			and industryId = #{ robot.industryId, jdbcType=INTEGER }
		</if>
		<if test="robot != null and robot.accessWay != null">
			and accessWay = #{ robot.accessWay, jdbcType=INTEGER }
		</if>
		<if test="robot != null and robot.avaliable != null">
			and avaliable = #{ robot.avaliable, jdbcType=INTEGER }
		</if>
		<if test="robot != null and robot.gmtCreate != null">
			and gmtCreate = #{ robot.gmtCreate, jdbcType=TIMESTAMP }
		</if>
		<if test="robot != null and robot.gmtModified != null">
			and gmtModified = #{ robot.gmtModified, jdbcType=TIMESTAMP }
		</if>
	</select>

	<select id="listPage" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from tbl_robot
		where 1=1
		<if test="robot != null and robot.id != null">
			and id = #{ robot.id, jdbcType=BIGINT }
		</if>
		<if test="robot != null and robot.tenantId != null">
			and tenantId = #{ robot.tenantId, jdbcType=BIGINT }
		</if>
		<if test="robot != null and robot.name != null">
			and name = #{ robot.name, jdbcType=VARCHAR }
		</if>
		<if test="robot != null and robot.sex != null">
			and sex = #{ robot.sex, jdbcType=INTEGER }
		</if>
		<if test="robot != null and robot.headPortrait != null">
			and headPortrait = #{ robot.headPortrait, jdbcType=VARCHAR }
		</if>
		<if test="robot != null and robot.industryId != null">
			and industryId = #{ robot.industryId, jdbcType=INTEGER }
		</if>
		<if test="robot != null and robot.accessWay != null">
			and accessWay = #{ robot.accessWay, jdbcType=INTEGER }
		</if>
		<if test="robot != null and robot.avaliable != null">
			and avaliable = #{ robot.avaliable, jdbcType=INTEGER }
		</if>
		<if test="robot != null and robot.gmtCreate != null">
			and gmtCreate = #{ robot.gmtCreate, jdbcType=TIMESTAMP }
		</if>
		<if test="robot != null and robot.gmtModified != null">
			and gmtModified = #{ robot.gmtModified, jdbcType=TIMESTAMP }
		</if>
		<if test="_orderby != null">
			order by ${_orderby} ${_orderdir}
		</if>
		<if test="_start != null and _pageSize != null">
			limit ${_start}, ${_pageSize}
		</if>
	</select>

	<update id="update" parameterType="com.prometheus.thoth.robot.entity.Robot">
		update tbl_robot
		<set>
			<if test="robot != null and robot.tenantId != null">
				tenantId = #{robot.tenantId, jdbcType=BIGINT },
			</if>
			<if test="robot != null and robot.name != null">
				name = #{robot.name, jdbcType=VARCHAR },
			</if>
			<if test="robot != null and robot.sex != null">
				sex = #{robot.sex, jdbcType=INTEGER },
			</if>
			<if test="robot != null and robot.headPortrait != null">
				headPortrait = #{robot.headPortrait, jdbcType=VARCHAR },
			</if>
			<if test="robot != null and robot.industryId != null">
				industryId = #{robot.industryId, jdbcType=INTEGER },
			</if>
			<if test="robot != null and robot.accessWay != null">
				accessWay = #{robot.accessWay, jdbcType=INTEGER },
			</if>
			<if test="robot != null and robot.avaliable != null">
				avaliable = #{robot.avaliable, jdbcType=INTEGER },
			</if>
			<if test="robot != null and robot.gmtCreate != null">
				gmtCreate = #{robot.gmtCreate, jdbcType=TIMESTAMP },
			</if>
			<if test="robot != null and robot.gmtModified != null">
				gmtModified = #{robot.gmtModified, jdbcType=TIMESTAMP }
			</if>
		</set>
		where
		id = #{robot.id}
	</update>


	<insert id="insert"  useGeneratedKeys="true" keyProperty="id" parameterType="com.prometheus.thoth.robot.entity.Robot">
		insert into tbl_robot(
		id,
		tenantId,
		name,
		sex,
		headPortrait,
		industryId,
		accessWay,
		avaliable,
		gmtCreate,
		gmtModified
		)values(
		#{id, jdbcType=BIGINT},
		#{tenantId, jdbcType=BIGINT},
		#{name, jdbcType=VARCHAR},
		#{sex, jdbcType=INTEGER},
		#{headPortrait, jdbcType=VARCHAR},
		#{industryId, jdbcType=INTEGER},
		#{accessWay, jdbcType=INTEGER},
		#{avaliable, jdbcType=INTEGER},
		#{gmtCreate, jdbcType=TIMESTAMP},
		#{gmtModified, jdbcType=TIMESTAMP}
		)
	</insert>


	<insert id="insertSelective" useGeneratedKeys="true" keyProperty="id"
			parameterType="com.prometheus.thoth.robot.entity.Robot">
		insert into tbl_robot
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="tenantId != null">
				tenantId,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="sex != null">
				sex,
			</if>
			<if test="headPortrait != null">
				headPortrait,
			</if>
			<if test="industryId != null">
				industryId,
			</if>
			<if test="accessWay != null">
				accessWay,
			</if>
			<if test="avaliable != null">
				avaliable,
			</if>
			<if test="gmtCreate != null">
				gmtCreate,
			</if>
			<if test="gmtModified != null">
				gmtModified
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id, jdbcType=BIGINT},
			</if>
			<if test="tenantId != null">
				#{tenantId, jdbcType=BIGINT},
			</if>
			<if test="name != null">
				#{name, jdbcType=VARCHAR},
			</if>
			<if test="sex != null">
				#{sex, jdbcType=INTEGER},
			</if>
			<if test="headPortrait != null">
				#{headPortrait, jdbcType=VARCHAR},
			</if>
			<if test="industryId != null">
				#{industryId, jdbcType=INTEGER},
			</if>
			<if test="accessWay != null">
				#{accessWay, jdbcType=INTEGER},
			</if>
			<if test="avaliable != null">
				#{avaliable, jdbcType=INTEGER},
			</if>
			<if test="gmtCreate != null">
				#{gmtCreate, jdbcType=TIMESTAMP},
			</if>
			<if test="gmtModified != null">
				#{gmtModified, jdbcType=TIMESTAMP}
			</if>
		</trim>
	</insert>

</mapper>