<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.prometheus.thoth.robot.dao.RobotLibMapper">

	<resultMap id="BaseResultMap" type="com.prometheus.thoth.robot.entity.RobotLib">
			<id property="id" column="id" jdbcType="BIGINT"/>
			<result property="robotId" column="robotId" jdbcType="BIGINT"/>
			<result property="libId" column="libId" jdbcType="BIGINT"/>
	</resultMap>


	<!-- 用于select查询公用抽取的列 -->
	<sql id="Base_Column_List">
		id,robotId,libId
	</sql>
	
	<select id="getById" parameterType="int" resultMap="BaseResultMap">
		select
			<include refid="Base_Column_List" />
		from
			tbl_robot_lib
		where
			id = #{id}
	</select>

	<select id="listByRobotId" parameterType="int" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from
		tbl_robot_lib
		where
		robotId = #{robotId}
	</select>

	<delete id="deleteById" parameterType="int">
		delete from tbl_robot_lib
		where
		id = #{id}
	</delete>

	<select id="listAll" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from tbl_robot_lib
		where 1=1
		<if test="commonMsg != null and commonMsg.id != null">
			and id = #{ commonMsg.id, jdbcType=BIGINT }
		</if>
		<if test="commonMsg != null and commonMsg.robotId != null">
			and robotId = #{ commonMsg.robotId, jdbcType=BIGINT }
		</if>
		<if test="commonMsg != null and commonMsg.libId != null">
			and libId = #{ commonMsg.libId, jdbcType=BIGINT }
		</if>
	</select>


	<update id="update" parameterType="com.prometheus.thoth.robot.entity.RobotLib">
		update tbl_robot_lib
		<set>
			<if test="robotId != null">
			  robotId = #{robotId, jdbcType=BIGINT },
			</if>
			<if test="libId != null">
			  libId = #{libId, jdbcType=BIGINT },
			</if>
		</set>
		where
			id = #{id}
	</update>


	<insert id="insert"  useGeneratedKeys="true" keyProperty="id" parameterType="com.prometheus.thoth.robot.entity.RobotLib">
		insert into tbl_robot_lib(
				id,
				robotId,
				libId
			)values(
				#{id, jdbcType=BIGINT},
				#{robotId, jdbcType=BIGINT},
				#{libId, jdbcType=BIGINT}
		)
	</insert>

	<insert id="batchInsert" parameterType="java.util.List">
		insert into tbl_robot_lib(
		id,
		robotId,
		libId
		) values
		<foreach collection="list" item="item" index="index"
				 separator=",">
			(#{item.id},#{item.robotId},#{item.libId})
		</foreach>
	</insert>




</mapper>